In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [32]:
# Создаём сэмпл (зависимость стоимости билета на самолет от разных факторов)
# sp - вместительность самолета
# km - расстояние полета
# pilot_age - возраст пилота
n_samples = 500

sp = np.random.choice(100, n_samples) + 15
km = np.random.choice(2000, n_samples) + 155
pilot_age = np.random.choice(65, n_samples) + 10

price = km * sp * 100

data = pd.DataFrame({'spaciousness': sp, 'km': km, 'pilot_age': pilot_age, 'price': price})
data.head(5)

   spaciousness    km  pilot_age    price
0            43   458         46  1969400
1            63   778         71  4901400
2           114   211         15  2405400
3            63   389         62  2450700
4            70  1359         49  9513000

In [33]:
from sklearn.metrics import mean_absolute_error

X = data[['spaciousness', 'km', 'pilot_age']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['spaciousness', 'km', 'pilot_age']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [115188.09440618   6428.39646031  -1496.24060874]
Bias: -7418343.683680541
Error: 1260168.68378734

In [8]:
# Ошибка большая
#Создаю новый признак km/sp

In [34]:
data['km/sp'] = data['km'] * data['spaciousness']
data.head(5)

   spaciousness    km  pilot_age    price  km/sp
0            43   458         46  1969400  19694
1            63   778         71  4901400  49014
2           114   211         15  2405400  24054
3            63   389         62  2450700  24507
4            70  1359         49  9513000  95130

In [35]:
X = data[['km/sp']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['km/sp']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [100.]
Bias: -9.313225746154785e-10
Error: 4.390021786093712e-10

In [ ]:
# Ошибка существенно меньше